html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;

  background-color: #d05c2e;
  color: #fff;

  font-family: Merriweather, serif;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
}

div h1 {
  margin: 0;
  padding: 0;

  font-size: 2rem;
  font-weight: bold;
}

div img {
  width: 40px;
}

nav {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-basis: content;
  margin: 0;
  padding: 0;

  list-style-type: none;
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
}

nav ul li {
  margin: 0;
  padding: .4rem 0;
  flex-basis: 33.3333%;

  font-size: 1.125em;
  text-align: center;
}

nav ul li:nth-child(2) {

  border-right: 1px solid #a63f38;
  border-left: 1px solid #a63f38;
}

nav ul li:hover {
  background-color: #a63f38;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #a63f38;
}
